.form-horizontal .control-label{
	text-align:left;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      width:500;
      height: 500px;
  }